<h3>Log-in</h3>

<form action="/login" method="POST">

    <div>
        <label for="username">Username</label>
        <input type="text" class="form-control" name="username" id="username">
    </div>
 
    <div>
        <label for="pwd">Password</label>
        <input type="password" class="form-control" name="pwd" id="pwd">
    </div>


    <button type="submit" class="btn btn-dark btn-block btn-lg">Confirm</button>

</form>

{{#if errorMessage}}
    <div>
        {{errorMessage}}
    </div>
{{/if}}

<div>
    <p>Don't have an account?</p><a href="/signup">Sign up now</a>
</div>