<body class="background-default">   

    <div class="profile-title-container">
        <p class="profile-title">My Profile</p>
    </div>

    <div class="profile-basic-org">   

       
            <div>
                <div class="playlist-title-container">
                    <p class="playlist-section-title" >Playlists</p>
                </div>

                {{#each playlist}}

                    <div class="playlist-cards-container">
                        <a class="playlist-container no-decoration" href="/profile/check-playlist/{{id}}">
                            <p class="playlist-title">{{name}}</p>
                        </a>
                        <div class="delete-btn-container">
                            <a href="/playlist/{{id}}/delete"><img class="delete-icon" src="/wave_delete_icon_mk2.png"></a>
                        </div>
                    </div>

                {{/each}}

                <a href="/playlist/new" class="new-playlist-container new-playlist-txt no-decoration">
                    +
                </a>

            </div>


            <div class="profile-containers-container">

                <div class="playlist-title-container">
                    <p class="playlist-section-title" >Press play</p>
                </div>

                <div class="playlist-title-container2">
                    <p class="playlist-section-title" ></p>
                </div>

                <a class="discover-profile-container-mk2 no-decoration center-elements" href="/djsession">
                    <p class="begin-session">New mix</p>
                </a>

                <div class="discover-profile-org">
                    <a class="discover-profile-container-02 no-decoration" href="/discover/music">
                        <img class="discover-music-profile-icon" src="/discover_music_icon.png">
                        <p class="profile-links-txt">New music</p>
                    </a>
                    <div class="discover-profile-container"></div>
                    <div class="discover-profile-container"></div>
                    <div class="discover-profile-container"></div>
                </div>
            </div>
        


    </div>
</body>