<h1>Profile</h1>


{{#each playlist}}
    <div>
        <p>{{name}}</p>
        <a href="/profile/check-playlist/{{id}}">Check playlist</a>
    </div>
{{/each}}


<a href="/playlist/new">Create new playlist</a>