<body class="background-profile-visit">

        <div class="profile-title-container">
        <p class="profile-title">This is {{user.username}}'s profile</p>
        </div>

    <div>
        <div class="center-elements">
            <div class="playlist-title-container">
                <p class="playlist-section-title"> Playlists</p>
            </div>

            {{#each playlist}}
                <div class="playlist-cards-container">
                    <a class="playlist-container no-decoration" href="/profile/check-playlist/{{id}}">
                        <p class="playlist-title">{{name}}</p>
                    </a>
                </div>
            {{/each}}
        </div>
    </div>

</body>