<body class="background-dashboard">
    <div class="center-elements">
        <div>
            <h1>Dashboard</h1>
            <div class="dashboard-txt-container">
                <p class="dashboard-txt">Welcome to wave.app, rise the volume and press <a class="dashboard-play" href="/discover">play</a>.</p>
            </div>
        </div>
    </div>
</body>
