<body class="background-headset">
    <div class="center-elements">
        <div>
            <img class="landing-logo" src="/wave_logo.png">
        </div>
        
        <div class="landing-txt-container">
            <p class="landing-txt">Welcome to wave.app the best way to mix tracks online</p>
        </div>

        <div class="center-elements">
            <a class="main-btn" href="/login">Log in</a>
            <div class="underline-div">
                <a class="under-btn" href="/signup">Create an account</a>
            </div>
        </div>
    </div>
</body>