* {
  padding: 0px;
  margin: 0px
}

body {
  font-family: 'Outfit', sans-serif;
}

audio::-webkit-progress-bar {
  height: 30px;
}

#botondeplay {
  width: 100px;
  height: 40px;
  background-color: blueviolet;
}