<body class="background-discover">
    <div class="center-elements">
        <div>    
            <h1>Discover</h1>
        </div>

        <div class="discover-txt-container">
            <p class="landing-txt">Everything you need, one click away. Either you’re looking for new tracks or other users, this is the place. </p>
        </div>

        <div class="margin-top-3">        
            <a class="main-btn-3 btn-margin" href="/discover/music">Discover music</a>
            <a class="main-btn-4 btn-margin" href="/discover/users">Discover users</a>
        </div>

    </div>
</body>