<body class="background-default">
    <div class="center-elements">
        <div>
            <p class="discover-title">Discover users</p>
        </div>

        <div class="user-cards-org">
            {{#each allUsers}}
                <a href="/profile/{{_id}}" class="user-card no-decoration">
                    <p class="user-card-title">{{username}}</p>
                </a>
            {{/each}}
        </div>
    </div>

</body>