<body class="background-default">
    <div class="center-elements">
        <p class="check-playlist-title">Radio mix</p>
    </div>



        {{#each songs}}
        <div class="playlist-rows-container">
            <div class="check-playlist-track-container">
                <div>
                    <div class="track-playlist-title-container">
                        <p class="track-playlist-title">{{title_short}}</p>
                        <p class="track-playlist-artist">{{artist.name}}</p>
                    </div>
                </div>
                <audio controls src="{{preview}}"></audio>
            </div>
                <div class="add-to-playlist-container">
                    <a class="add-to-playlist" href="/playlist/{{id}}/add-to-playlist">Add to playlist</a>
                </div>
        </div>

        {{/each}}

</body>