<h3>New Playlist</h3>

<form action="/playlist/new" method="POST">
    <div>
        <label for="name">Playlist name:</label>
        <input type="text" name="name" id="name">
    </div>
    <div>
        <button type="submit">Create playlist</button>
    </div>

</form>