<h3>Sure you want to remove this song?</h3>

<form action="/playlist/remove-from-playlist/{{trackId}}/{{playlistId}}" method="POST">
    <a href="/profile">No, cancel</a>
    
    <button type="submit">Yes, delete</button>
</form>